:root {
  --primary-color: #292929;
  --secondary-color: #8c52ff;
  --dark-color: #292929;
  --white-color: #ebf0ec;
}

.odd {
  font-weight: 100;
}

.even {
  font-weight: bold;
  font-size: large;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

footer {
  padding-right: 1rem;
}

footer .social > a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

footer .social main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* .nav-logo {
  width: 50px;
  height: 50px;
} */

.bsicon {
  color: purple;
}

.jsicon {
  color: rgb(226, 211, 4);
}

.html5icon {
  color: orangered;
}

.cssicon {
  color: rgb(11, 82, 214);
}

.checklist > li i {
  color: var(--secondary-color);
}
/* prism CSS */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.rewind {
  font-family: "Press Start 2P", cursive;
}

.d-logo {
  width: 43px;
  height: 43px;
}

.d-logo-nav {
  width: 30px;
  height: 30px;
}

.logobyname {
  width: 35px;
  height: 35px;
}

.text-rewind {
  font-size: 1rem;
}
